# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# OS X
.DS_Store

# Click

click/bsdmodule

click/click-buildtool

click/click-compile

click/config.log

click/config.mk

click/config.status

click/doc/Makefile

click/etc/libclick/Makefile

click/etc/pkg-config.mk

click/include/click/config-bsdmodule.h

click/include/click/config-linuxmodule.h

click/include/click/config-ns.h

click/include/click/config-userlevel.h

click/include/click/config.h

click/include/click/pathvars.h

click/installch

click/linuxmodule/Makefile

click/Makefile

click/ns/Makefile

click/userlevel/Makefile

click/tools/lib/Makefile

click/tools/click-undead/Makefile

click/tools/click-pretty/Makefile

click/tools/click-mkmindriver/Makefile

click/tools/click-install/Makefile

click/tools/click-flatten/Makefile

click/tools/click-devirtualize/Makefile

click/tools/click-fastclassifier/Makefile

click/tools/click-xform/Makefile

click/tools/click2xml/Makefile

click/stamp-h

click/tools/click-align/Makefile

click/tools/click-combine/Makefile

click/tools/click-check/Makefile

click/tools/Makefile
